body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.good {
	background-color: lightskyblue;
}

.evil {
	background-color: red;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

#mainContent{
	background-color: white;
	margin-top:50px;
	border-radius:10px;
	margin-right: 40px;
	margin-left:40px;
	padding-bottom:10px;
}
h2{
	margin-top: 25px;
}
#formContainer{
	background-color: white;
	padding: 50px;
	border-radius:10px;
}
